{% extends 'base.html.twig' %}
{% block title %}Rejestracja!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {# todo - replace with a Symfony form! #}
                <form class="form-signin" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
                    <label for="inputName" class="sr-only"></label>
                    <input type="text" name="name" id="inputName" class="form-control" placeholder="Imie" required autofocus>
                    <label for="inputSurname" class="sr-only"></label>
                    <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Nazwisko" required autofocus>
                    <label for="inputEmail" class="sr-only">Wprowadź email</label>
                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Adres email" required autofocus>
                    <label for="inputPassword" class="sr-only">Wprowadź hasło</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Hasło" required>
                    <label for="inputPassword2" class="sr-only">Wprowadź powtórzone hasło</label>
                    <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Powtórzone hasło" required>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me" required> Akceptuję regulamin.
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Zarejestruj
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}