{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('dodanieZwierzakaFormularz') }}">Dodaj zwierzaka</a><br/><br/>
    <a href="{{ path('wyswietl_zwierzaki') }}"> Wyświetl zwierzaki</a><br/><br/>
    <a href="{{ path('wyswietl_zaadoptowane') }}"> Wyświetl adoptowane</a><br/><br/><br/><br/><br/><br/>
    <a href="{{ path('wyswietl_zmarle') }}"> Wyświetl zmarłe</a>
{% endblock %}