{% extends 'base.html.twig' %}
{% block body %}
    <div>
        <label>Wartość długu: {{ dlug['kwota'] }}</label>
        <label>Zostało spłacone: {{ dlug['splacone'] }}</label>
    </div>
{% endblock %}