{% extends 'base.html.twig' %}
{% block body %}
    <h1> Aktualności:</h1>
    <div>
        <p> Jakieś aktualności</p>
    </div>
    <div>
        <p> Kolejne informacje</p>
    </div>
{% endblock %}