.sides{
    margin:0;
}
.left{
    float:left;
    margin-left: 20px;
    margin-right: 5px;
    width:20%;
    overflow:hidden;
}

.pet_left{
    float:left;
}

.pet_right{
    float:right;
}

.kolor_dostepny{
    color: darkgreen;
    font-weight: bold;
    text-transform: uppercase;
}

.kolor_niedostepny{
    color: crimson;
    font-weight: bold;
    text-transform: uppercase;
}